<div class="pull-right">
  <p>
    <a style="padding-left:1em;" data-toggle="tooltip" href="mailto:tmthyjames@gmail.com?Subject=Achoo%20Site" target="_top" data-placement="top" title="Contact me">
      <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
    </a>
    <a style="padding-left:1em;" data-toggle="tooltip" href="https://tmthyjames.github.io/tools/prediction/Achoo-beta-0.1/" target="_blank" data-placement="top" title="Blog">
      <span class="fa fa-pencil" aria-hidden="true"></span>
    </a>
  	<a style="padding-left:1em;padding-right:1em;" data-toggle="tooltip" target="_blank" href="https://github.com/tmthyjames/Achoo" data-placement="top" title="Github">
      <span class="fa fa-github" aria-hidden="true"></span>
    </a>©2018 Achoo {{session.VERSION}}
  </p>
</div>
<div class="clearfix"></div>