{% extends "base_site.html" %}

{% block title %} Achoo {% endblock title %}

{% block stylesheets %}
	{{ super() }}
{% endblock stylesheets %}

{% block content %}
	<div class="right_col" role="main">
		<div class="">

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-10 col-sm-10 col-md-offset-1">
					<div class="x_panel">
						<div class="x_title">
							<h2>Sign Up</h2>
							<ul class="nav navbar-right panel_toolbox">
								</li>
								<li class="dropdown">
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Settings 1</a>
										</li>
										<li><a href="#">Settings 2</a>
										</li>
									</ul>
								</li>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">

							<form id="sign-up-form" class="form-horizontal form-label-left">

								<!-- <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a></p> -->

								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" name="username" placeholder="" required="required" type="text">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Confirm Email <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="email" id="email2" name="confirm_email" data-validate-linked="" required="required" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
								<div class="item form-group">
									<label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">Password <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="password" type="password" name="password" data-validate-length="" class="form-control col-md-7 col-xs-12" required="required">
									</div>
								</div>
								<div class="item form-group">
									<label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Password <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="password2" type="password" name="confirm_password" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
									</div>
								</div>
								<div class="item form-group">
									<label for="zipcode" class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code <span class="required">*</span></label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="zipcode" name="zipcode" data-validate-minmax="5,5" class="form-control col-md-7 col-xs-12" required="required">
									</div>
								</div>
								<div class="ln_solid"></div>
								<div class="x_content">
									<ul class="list-unstyled msg_list">
										<li>
											<a>
												<span>
													<span><h5>How many times do you use your inhaler weekly?</h5></span>
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Inhaler 
									</label>
									<div class="col-md-2 col-sm-2 col-xs-12">
										<input type="number" id="treatment1" name="inhaler" required="required" data-validate-minmax="" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
<!-- 								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Other 
									</label>
									<div class="col-md-2 col-sm-2 col-xs-12">
										<input type="number" id="treatment2" name="meds" required="required" data-validate-minmax="" class="form-control col-md-7 col-xs-12">
									</div>
								</div> -->
								<div class="ln_solid"></div>
								<div class="form-group">
									<div class="col-md-6 col-md-offset-3">
										<button type="submit" class="btn btn-success">Submit <i id="send"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block javascripts %}
	{{ super() }}

	<script>
	$('#sign-up-form').submit(function(e){
		$('#send').append(' <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>');
		e.preventDefault();
		var postArray = $(this).serializeArray();
		var postData = {};
		for (var i in postArray){
			postData[postArray[i].name] = postArray[i].value;
		}

		$.ajax({
		    type: "POST",
		    url: "/api/1.0/user/",
		    data: JSON.stringify(postData),
		    contentType: "application/json; charset=utf-8",
		    dataType: "json",
		    success: function(data){
		    	$('#send').empty();
		    	window.location.href = data.location;
		    },
		    error: function(errMsg) {
		    	$('#send').empty();
				var notice = new PNotify({
                    title: 'Uh Oh! An error occurred!',
                    text: "That username or email address may already exist. If you don't have an account then try a different username. I'm working on making this process less painful :)",
                    type: 'danger',
                    styling: 'bootstrap3',
                    hide: false
                });
		    }
		});
		return false
	});
	</script>

{% endblock javascripts %}
