{% extends "base_site.html" %}

{% block title %} Achoo {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
	<div class="row">
	  <div class="col-md-10 col-sm-10 col-md-offset-1">
	    <div class="x_panel">
	      <div class="x_title">
	        <h2>What is Achoo? </h2>
	        <ul class="nav navbar-right panel_toolbox">
	          </li>
	          <li class="dropdown">
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="#">Settings 1</a>
	              </li>
	              <li><a href="#">Settings 2</a>
	              </li>
	            </ul>
	          </li>
	          </li>
	        </ul>
	        <div class="clearfix"></div>
	      </div>
	      <div class="x_content">
	        <ul class="list-unstyled timeline">
	          <li>
	            <div class="block">
	              <!-- <div class="tags">
	              </div> -->
	              <div class="block_content">
	                <h2 class="title">
                        <a>Some text about how Achoo got started....</a>
                    </h2>
	              </div>
	            </div>
	          </li>
		      </ul>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-10 col-sm-10 col-md-offset-1">
	    <div class="x_panel">
	      <div class="x_title">
	        <h2>How Achoo Works </h2>
	        <ul class="nav navbar-right panel_toolbox">
	          </li>
	          <li class="dropdown">
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="#">Settings 1</a>
	              </li>
	              <li><a href="#">Settings 2</a>
	              </li>
	            </ul>
	          </li>
	          </li>
	        </ul>
	        <div class="clearfix"></div>
	      </div>
	      <div class="x_content">
	        <ul class="list-unstyled timeline">
	          <li>
	            <div class="block">
	              <div class="tags">
	                <a href="" class="tag">
	                  <span>Data</span>
	                </a>
	              </div>
	              <div class="block_content">
	                <h2 class="title">
                        <a>Collects data </a>
                    </h2>
	                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
	                </p>
	              </div>
	            </div>
	          </li>
	          <li>
	            <div class="block">
	              <div class="tags">
	                <a href="" class="tag">
	                  <span>AI</span>
	                </a>
	              </div>
	              <div class="block_content">
	                <h2 class="title">
                        <a>Artificial Intelligence</a>
                    </h2>
	                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
	                </p>
	              </div>
	            </div>
	          </li>
	          <li>
	            <div class="block">
	              <div class="tags">
	                <a href="" class="tag">
	                  <span>Breathe</span>
	                </a>
	              </div>
	              <div class="block_content">
	                <h2 class="title">
                        <a>Helps you breathe better</a>
                    </h2>
	                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
	                </p>
	              </div>
	            </div>
	          </li>
	        </ul>

	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

{% endblock javascripts %}
